.avatar,
.badges,
.badges .badges-right,
.container,
.custom-status,
.id,
.name-box {
  display: flex
}

.profile .banner,
.profile .banner img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 100%
}

*,
.id {
  font-family: "Playpen Sans", cursive
}

.display-name,
.username {
  color: var(--text-color)
}

* {
  transition: width .5s, height .5s;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none
}

:root {
  --primary-h-top: 206deg;
  --primary-s-top: 41%;
  --primary-l-top: 88%;
  --primary-h-bottom: 212deg;
  --primary-s-bottom: 58%;
  --primary-l-bottom: 44%;
  --text-color: black;
  --box-shadow-color: rgba(0, 0, 0, 0.1)
}

.badges,
.card,
.roles-body .rol,
.status {
  --primary-h-bottom: var(--primary-h-top)
}

::-webkit-scrollbar {
  width: .3rem;
  height: auto;
  scrollbar-width: thin;
  border-radius: 50%
}

::-webkit-scrollbar-track {
  background-color: transparent
}

::-webkit-scrollbar-thumb {
  background-color: hsl(var(--primary-h-top), 45%, 50%, .1);
  border-radius: 10px
}

.profile,
.profile-border {
  position: relative;
  border-radius: 8px;
  margin: 0 auto;
  display: flex
}

.id,
body {
  margin: 0
}

html {
  scroll-behavior: smooth
}

img {
  opacity: 0;
  animation: 1s ease-in forwards fadeIn
}

.about-section a {
  color: #00aff4;
  text-decoration: none
}

.about-section a:hover {
  text-decoration: underline
}

body {
  padding: 0
}

.box-color {
  background: linear-gradient(to bottom, hsl(var(--primary-h-top), var(--primary-s-top), var(--primary-l-top)), hsl(var(--primary-h-bottom), var(--primary-s-bottom), var(--primary-l-bottom)))
}

.container {
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh
}

.container::before {
  content: "";
  position: fixed;
  margin: -15px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../public/bg.webp");
  background-repeat: no-repeat;
  z-index: -1;
  filter: blur(5px);
  background-color: rgba(0, 0, 0, .5);
  background-blend-mode: darken;
  background-size: cover;
  background-position: center
}

.profile-border {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, .1);
  padding: 5px;
  flex-direction: column;
  max-height: calc(100% - 100px)
}

.chat-container,
.platform,
.roles-body .rol {
  box-shadow: 0 0 0 1px var(--box-shadow-color)
}

.profile {
  z-index: 1;
  flex-direction: column;
  --primary-s-top: 43%;
  --primary-l-top: 99%;
  --primary-s-bottom: 47%;
  --primary-l-bottom: 78%;
  width: 600px;
  max-height: calc(100vh - 100px)
}

.avatar,
.status {
  position: absolute;
  border-radius: 50%
}

.avatar,
.avatar #avatar-image {
  --primary-s-top: 42%;
  --primary-l-top: 95%;
  --primary-s-bottom: 44%;
  --primary-l-bottom: 94%
}

.profile .banner {
  height: 190px
}

.badges .badges-left,
.badges img {
  height: 26px
}

.profile .banner img {
  height: 100%;
  object-fit: cover
}

.avatar {
  align-items: center;
  justify-content: center;
  top: 120px;
  left: 16px
}

.badges,
.status {
  --primary-s-top: 41%;
  --primary-l-top: 97%;
  --primary-s-bottom: 41%;
  --primary-l-bottom: 97%
}

.avatar #avatar-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  padding: 8px;
  background-color: #e8eff6
}

.avatar-decoration {
  width: 170px;
  height: 170px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.status {
  max-width: 34px;
  max-height: 44px;
  -webkit-transform: translate(50%, 50%);
  transform: translate(50%, 50%);
  bottom: 14.64%;
  right: 14.64%
}

.body,
.content {
  max-height: calc(100vh - 530px)
}

.id::after,
.id::before {
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden
}

#status-image,
.badges-left>a,
.badges-right>a,
.card,
.content,
.flag,
.id,
.name-box {
  position: relative
}

.badges,
.flag img,
.id::after,
.id::before {
  position: absolute
}

.tooltip {
  font-size: .9em
}

.id,
.id::after {
  font-size: .8em
}

:hover.tooltip::after {
  content: attr(aria-label);
  width: max-content;
  position: absolute;
  top: unset;
  left: 55%;
  transform: translate(-50%, -50%);
  background-color: #111214;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  z-index: 2;
  font-size: .8em !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px
}

:hover.tooltip::before {
  content: "";
  position: absolute;
  top: 0;
  left: 55%;
  transform: translate(-50%, -50%);
  border: 5px solid transparent;
  border-top-color: #111214
}

a:hover.tooltip::after {
  top: -23px
}

.status:hover.tooltip::after {
  bottom: 24px
}

.status:hover.tooltip::before {
  bottom: 15px
}

.id {
  border: none;
  background: 0 0;
  text-align: start;
  padding: 0;
  cursor: pointer
}

#message-input,
.divider {
  background-color: transparent
}

.id::after {
  content: attr(aria-label);
  width: max-content;
  bottom: 8px;
  background-color: #111214;
  color: #fff;
  padding: 10px;
  border-radius: 5px
}

.badges,
.badges .badges-left,
.custom-status,
.name-box,
.name-box * {
  width: fit-content
}

.id:hover::after,
.id:hover::before {
  visibility: visible
}

.id::before {
  content: "";
  top: 0;
  border: 5px solid transparent;
  border-top-color: #111214
}

.id.clicked::after {
  background-color: #23a559
}

.id.clicked::before {
  border-top-color: #23a559
}

#status-image {
  width: 20px;
  height: 20px;
  padding: 7px;
  border-radius: 50%
}

.badges {
  flex-direction: row-reverse;
  padding: 2px;
  border-radius: 10px;
  top: 219px;
  left: 160px
}

.card,
.roles-body .rol {
  --primary-s-top: 45%;
  --primary-s-bottom: 45%
}

.badges img {
  width: 26px
}

.badges .badges-left img {
  opacity: 100%;
  animation: none
}

.badges .badges-right {
  flex-direction: row;
  width: fit-content;
  height: 26px
}

.card {
  margin: 80px 16px 16px;
  --primary-l-top: 94%;
  --primary-l-bottom: 94%;
  border-radius: 5px
}

.name-box {
  flex-direction: column;
  margin: 20px 20px 0;
  padding-left: 5px
}

.display-name {
  font-size: 20px;
  font-weight: bolder
}

.username {
  font-weight: 600;
  border-radius: 50%;
  font-size: .9em
}

.platform,
.roles-body .rol {
  border-radius: 4px
}

.about-me,
.body .title-body,
.pronouns {
  font-size: 14px;
  color: var(--text-color)
}

.pronouns {
  font-weight: 400;
  margin: 3px 0 0
}

.custom-status {
  flex-direction: row;
  justify-items: center;
  align-items: center;
  padding: 0 0 10px
}

.custom-status img {
  width: 24px !important;
  height: 24px !important;
  object-fit: cover;
  image-rendering: pixelated
}

.custom-status-text {
  margin: 0;
  padding: 0;
  font-weight: 400
}

.about-me {
  overflow-wrap: break-word;
  line-height: 20px;
  font-weight: 500
}

.flag {
  display: inline-block;
  width: 22px;
  height: 14px
}

.flag img {
  width: 20px;
  height: 20px
}

.divider {
  height: 0;
  margin-top: 5px;
  margin-bottom: 0
}

.body {
  padding: 0 20px 16px
}

.body .title-body {
  font-weight: 700;
  line-height: 16px;
  margin-bottom: 8px
}

.body .roles-body {
  margin-bottom: 10px
}

.content {
  border-top: 1px solid var(--box-shadow-color);
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  scroll-snap-type: y mandatory;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding: 5px
}

.about-section {
  margin-bottom: 16px;
  margin-top: 5px
}

.roles-body {
  -ms-flex-wrap: wrap;
  margin: 1px;
  flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.platform,
.roles-body .rol,
.socials {
  display: -webkit-box;
  display: -ms-flexbox
}

.roles-body .rol {
  background: linear-gradient(to bottom, hsl(var(--primary-h-top), var(--primary-s-top), var(--primary-l-top)), hsl(var(--primary-h-bottom), var(--primary-s-bottom), var(--primary-l-bottom)));
  --primary-l-top: 96%;
  --primary-l-bottom: 96%;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 4px 4px 0;
  padding: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 22px;
  font-size: 12px;
  font-weight: 500
}

.roles-body .rol span {
  color: var(--text-color);
  margin-left: 4px;
  margin-right: 4px
}

.social-divider {
  margin-bottom: 0
}

.socials {
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}

.platform {
  width: 225px;
  display: flex;
  margin-bottom: 20px;
  padding: 12px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none
}

.platform-username {
  color: var(--text-color);
  font-size: .9em;
  font-weight: 600;
  margin-left: 10px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1
}

.platform::hover {
  text-decoration: none
}

.platform-icon {
  width: 24px;
  height: 24px
}

.connect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20px;
  height: 20px;
  -webkit-filter: invert(86%) sepia(5%) saturate(136%) hue-rotate(177deg) brightness(70%) contrast(70%);
  filter: invert(86%) sepia(5%) saturate(136%) hue-rotate(177deg) brightness(70%) contrast(70%)
}

.connect:hover {
  -webkit-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(0%) contrast(0%);
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(0%) contrast(0%)
}

.softpink {
  color: #f8bbd0
}

.rosepink {
  color: #ecdcd4
}

.green {
  color: #1ed760
}

.blue {
  color: #00aff4
}

.chat-container {
  width: 494px;
  max-width: 514px;
  margin-top: 0;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  display: none !important
}

#message-input {
  width: 100%;
  padding: 5px;
  border: none;
  outline: 0;
  font-size: 16px;
  font-weight: 500
}

@media (width <=640px) {
  .container::before {
    background-image: url("../public/bg_mobile.webp");
    margin: -2px;
    filter: blur(2px);
    background-color: rgba(0, 0, 0, .5);
    background-blend-mode: darken
  }

  .profile {
    width: 300px
  }

  .profile .banner {
    height: 100px
  }

  .badges {
    top: 120px;
    right: 16px;
    left: unset;
    flex-direction: row-reverse
  }

  .avatar {
    top: 55px
  }

  .avatar #avatar-image {
    width: 86px;
    height: 86px
  }

  .avatar-decoration {
    width: 130px;
    height: 130px
  }

  .name-box {
    width: 236px;
    margin: 16px 16px 10px
  }

  .body {
    padding: 0 16px 16px
  }

  .card {
    margin: 70px 16px 16px
  }

  .socials {
    display: block
  }

  .platform {
    width: 196px
  }

  .chat-container {
    width: 200px
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}