@import url(https://cdn.jsdelivr.net/gh/Overimagine1/old-discord-font/source.min.css);

* {
  font-family: "Whitney", sans-serif;
  transition: width 0.5s ease, height 0.5s ease;
}

:root {
  --primary-h-top: 206deg;
  --primary-s-top: 41%;
  --primary-l-top: 88%;
  --primary-h-bottom: 212deg;
  --primary-s-bottom: 58%;
  --primary-l-bottom: 44%;
  --text-color: black;
  --box-shadow-color: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar {
  width: 0.3rem;
  height: auto;
  scrollbar-width: thin;
  /* scrollbar-gutter: unset; */
  border-radius: 50%;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: hsl(var(--primary-h-top), 45%, 50%, 0.1);
  border-radius: 10px;
}

/* Disable drag and drop on all elements */
* {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

html {
  scroll-behavior: smooth;
}

img {
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}

.about-section a {
  color: #00aff4;
  text-decoration: none;
}

.about-section a:hover {
  text-decoration: underline;
}

body {
  padding: 0;
  margin: 0;
}

.box-color {
  background: linear-gradient(to bottom,
      hsl(var(--primary-h-top), var(--primary-s-top), var(--primary-l-top)),
      hsl(var(--primary-h-bottom), var(--primary-s-bottom), var(--primary-l-bottom)));
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.container::before {
  content: "";
  position: fixed;
  margin: -15px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../public/bg.webp");
  background-repeat: no-repeat;
  z-index: -1;
  filter: blur(5px);
  /* make img darker */
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
  /* end */
  background-size: cover;
  background-position: center;
}

.profile-border {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  padding: 5px;
  position: relative;
  display: flex;
  flex-direction: column;
  max-height: calc(100% - 100px);
  border-radius: 8px;
  margin: 0 auto;
}

.profile {
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  /* overflow-x: hidden; */
  --primary-s-top: 43%;
  --primary-l-top: 99%;
  --primary-s-bottom: 47%;
  --primary-l-bottom: 78%;
  width: 600px;
  max-height: calc(100vh - 100px);
  /* color: var(--text-color); */
  border-radius: 8px;
  margin: 0 auto;
}

.profile .banner {
  width: 100%;
  height: 190px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.profile .banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.avatar {
  --primary-s-top: 42%;
  --primary-l-top: 95%;
  --primary-s-bottom: 44%;
  --primary-l-bottom: 94%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  border-radius: 50%;
  top: 120px;
  left: 16px;
}

.avatar #avatar-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  padding: 8px;
  background-color: hsl(210, 44%, 94%);
  --primary-s-top: 42%;
  --primary-l-top: 95%;
  --primary-s-bottom: 44%;
  --primary-l-bottom: 94%;
}

.avatar-decoration {
  width: 170px;
  height: 170px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.status {
  max-width: 34px;
  max-height: 44px;
  -webkit-transform: translate(50%, 50%);
  transform: translate(50%, 50%);
  --primary-s-top: 41%;
  --primary-l-top: 97%;
  --primary-h-bottom: var(--primary-h-top);
  --primary-s-bottom: 41%;
  --primary-l-bottom: 97%;
  position: absolute;
  bottom: 14.64%;
  right: 14.64%;
  border-radius: 50%;
}

#status-image {
  width: 20px;
  height: 20px;
  padding: 7px;
  border-radius: 50%;
}

.badges {
  display: flex;
  flex-direction: row-reverse;
  width: fit-content;
  padding: 2px;
  --primary-s-top: 41%;
  --primary-l-top: 97%;
  --primary-h-bottom: var(--primary-h-top);
  --primary-s-bottom: 41%;
  --primary-l-bottom: 97%;
  border-radius: 10px;
  position: absolute;
  top: 219px;
  left: 160px;
}

.badges img {
  width: 26px;
  height: 26px;
}

.badges .badges-left {
  width: fit-content;
  height: 26px;
}

.badges .badges-left img {
  opacity: 100%;
  animation: none;
}

.badges .badges-right {
  display: flex;
  flex-direction: row;
  width: fit-content;
  height: 26px;
}

.tooltip {
  display: block;
  flex-direction: row;
  position: relative;
  width: 26px;
  height: 26px;
}

.tooltip:hover::after {
  content: attr(aria-label);
  position: absolute;
  top: -77px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #111214;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}

.tooltip:hover::before {
  content: "";
  position: absolute;
  top: -19px;
  left: 50%;
  transform: translateX(-50%);
  border: 5px solid transparent;
  border-top-color: #111214;
}

.card {
  position: relative;
  margin: 80px 16px 16px;
  --primary-s-top: 45%;
  --primary-l-top: 94%;
  --primary-h-bottom: var(--primary-h-top);
  --primary-s-bottom: 45%;
  --primary-l-bottom: 94%;
  border-radius: 5px;
}

.name-box {
  width: fit-content;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 20px 20px 0px 20px;
  padding-left: 5px;
}

.display-name {
  font-size: 20px;
  color: var(--text-color);
  font-weight: bolder;
}

.username {
  color: var(--text-color);
  font-weight: 600;
  border-radius: 50%;
}

.pronouns {
  color: var(--text-color);
  font-weight: 400;
  font-size: 14px;
  margin: 3px 0px 5px 0px;
}

.custom-status {
  display: flex;
  width: fit-content;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  padding: 0px 0px 10px 0px;
}

.custom-status img {
  width: fit-content;
  height: fit-content;
}

.custom-status .custom-status-text {
  margin: 0px;
  padding: 0px;
  align-items: center;
  display: flex;
  color: var(--text-color);
  font-weight: 400;
}

.about-me {
  overflow-wrap: break-word;
  font-size: 14px;
  line-height: 20px;
  color: var(--text-color);
  font-weight: 500;
}

.flag {
  display: inline-block;
  position: relative;
  width: 22px;
  height: 14px;
  /* margin-right: 22px; */
}

.flag img {
  position: absolute;
  width: 20px;
  height: 20px;
}

.divider {
  height: 0px;
  margin-top: 5px;
  margin-bottom: 0px;
  background-color: transparent;
}

.body {
  padding: 0 20px 16px 20px;
  max-height: calc(100vh - 530px);
}

.body .title-body {
  font-weight: 700;
  color: var(--text-color);
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 8px;
}

.body .roles-body {
  margin-bottom: 10px;
}

.content {
  border-top: 1px solid var(--box-shadow-color);
  padding-top: 12px;
  overflow-x: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 530px);
  scroll-snap-type: y mandatory;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding: 5px;
}

.about-section {
  margin-bottom: 16px;
  margin-top: 5px;
}

.roles-body {
  -ms-flex-wrap: wrap;
  margin: 1px;
  flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.roles-body .rol {
  border-radius: 4px;
  background: linear-gradient(to bottom,
      hsl(var(--primary-h-top), var(--primary-s-top), var(--primary-l-top)),
      hsl(var(--primary-h-bottom), var(--primary-s-bottom), var(--primary-l-bottom)));
  --primary-s-top: 45%;
  --primary-l-top: 96%;
  --primary-h-bottom: var(--primary-h-top);
  --primary-s-bottom: 45%;
  --primary-l-bottom: 96%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 4px 4px 0;
  padding: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 22px;
  font-size: 12px;
  font-weight: 500;
  box-shadow: 0 0 0 1px var(--box-shadow-color);
}

.roles-body .rol span {
  color: var(--text-color);
  margin-left: 4px;
  margin-right: 4px;
}

.social-divider {
  margin-bottom: 0;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.platform {
  width: 225px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  padding: 12px;
  border-radius: 4px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  box-shadow: 0 0 0 1px var(--box-shadow-color);
  text-decoration: none;
}

.platform-username {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 600;
  margin-left: 10px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.platform::hover {
  text-decoration: none;
}

.platform-icon {
  width: 24px;
  height: 24px;
}

.connect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20px;
  height: 20px;
  -webkit-filter: invert(86%) sepia(5%) saturate(136%) hue-rotate(177deg) brightness(70%) contrast(70%);
  filter: invert(86%) sepia(5%) saturate(136%) hue-rotate(177deg) brightness(70%) contrast(70%);
}

.connect:hover {
  -webkit-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(0%) contrast(0%);
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(0%) contrast(0%);
}

.softpink {
  color: #f8bbd0;
}

.rosepink {
  color: #ecdcd4;
}

.green {
  color: #1ed760;
}

.blue {
  color: #00aff4;
}

.chat-container {
  width: 494px;
  max-width: 514px;
  margin-top: 0px;
  margin-bottom: 10px;
  box-shadow: 0 0 0 1px var(--box-shadow-color);
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
}

.chat-container {
  display: none !important;
}

#message-input {
  background-color: transparent;
  width: 100%;
  padding: 5px;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 500;
}

@media (width <=640px) {
  .container::before {
    background-image: url("../public/bg_mobile.webp");
    margin: -2px;
    filter: blur(2px);
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
  }

  .profile {
    width: 300px;
  }

  .profile .banner {
    height: 100px;
  }

  .badges {
    top: 120px;
    right: 16px;
    left: unset;
    flex-direction: row-reverse;
  }

  .avatar {
    top: 55px;
  }

  .avatar #avatar-image {
    width: 86px;
    height: 86px;
  }

  .avatar-decoration {
    width: 130px;
    height: 130px;
  }

  .name-box {
    width: 236px;
    margin: 16px 16px 10px 16px;
  }

  .body {
    padding: 0 16px 16px 16px;
  }

  .card {
    margin: 70px 16px 16px;
  }

  .socials {
    display: block;
  }

  .platform {
    width: 196px;
  }

  .chat-container {
    width: 200px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}